<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="bbApiUrl" value="https://api.sandbox.bb.com.br/cobrancas/v2/" />
    <add key="bbApiUrlOAuth" value="https://oauth.sandbox.bb.com.br/" />
    <add key="bbApiClientId" value="pegar esse código no momento em que você se cadastra no programa developer do BB" />
    <add key="bbApiClientSecret" value="pegar esse código no momento em que você se cadastra no programa developer do BB" />
    <add key="bbApiDeveloperApplicationKey" value="gw-dev-app-key=pegar esse código no momento em que você se cadastra no programa developer do BB" />
    <add key="bbApiIndicadorPix" value="S - 28779295827" />
  </appSettings>
</configuration>